@import "normalize",
        "skeleton",
        "vars",
        "utils";

:root{
  font-size: 62.50%;
}

* {
    font-family: 'Quicksand', sans-serif;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.98);
  background-image: url("../img/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 100%;
  width: 100%;
}
@import "header-parallax"; /* header */

@import "newsletter"; /* barra de newsletter*/

.wrapper {
  background-color: #ccc;
}

.columns {
  //background-color: red;
}
.container.body {
  background-color: #fd5;
  padding: 1rem;
  margin: 0;
  overflow: hidden;
  z-index: 10;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}
