@import "normalize",
        "skeleton",
        "vars",
        "utils";

:root{
  font-size: 62.50%;
}

* {
    font-family: 'Quicksand', sans-serif;
}

@import "header-parallax"; /* header */

@import "newsletter"; /* barra de newsletter*/

.wrapper {
  background-color: white;
}

.columns {
  //background-color: red;
}
.container.body {
  background-color: #fd5;
  padding: 1rem;
  margin: 0;
  overflow: hidden;
  z-index: 10;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}
