#parallax {
  .background {
    position: relative;
    height: 28rem;
    background-image: url('../img/bg-parallax.jpg');
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center bottom;
    overflow: hidden;
    z-index: -5;
    .container {
      position: absolute;
      bottom: 2rem;
      margin: 0 calc();
      /*background-color: red;*/
      right: 0;
      .description{
        /*position: absolute;*/
        padding-left: 40%;
        bottom: 0;
        margin: 0 auto;
        /*background: red;*/
        p {
          text-transform: uppercase;
          margin: 0;
          color: white;
          font-size: 1.6rem;
          @media screen and (min-width: #{$mobile-width}){
            font-size: 2rem;
          }
        }
      }
    }
    @media screen and (min-width: #{$mobile-width}){
      height: 70vh;
      background-size: auto;
    }

  }
  .logo {
    width: 25rem;
    display: block;
    margin: 5rem auto 0 auto;
    @media screen and (min-width: #{$mobile-width}){
      width: 40rem;
      margin: 10rem auto 0 auto;;
    }
  }
}
